.org-tree .node {
  /*width: 140px;*/
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 2px;
  position: relative; }
.org-tree .item {
  display: flex;
  flex-direction: column; }
.org-tree .parent {
  position: relative;
  /*display: flex;*/
  margin-bottom: 20px; }
  .org-tree .parent:not(.collapsed):after {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: 10px;
    bottom: 0;
    left: 50%;
    background-color: #aaa;
    transform: translateY(100%); }
.org-tree .row .item:first-child > .child::after {
  left: 50%;
  width: 50%; }
.org-tree .row .item:last-child > .child::after {
  width: calc(50% + 2px); }
.org-tree .row .item:only-child > .child::after {
  width: 0px; }
.org-tree .item > .child:not(.root):before {
  content: '';
  position: absolute;
  background-color: #aaa;
  left: 50%;
  top: 0;
  transform: translateY(-100%);
  width: 2px;
  height: 10px; }
.org-tree .item > .child:after {
  content: '';
  position: absolute;
  background-color: #aaa;
  left: 0;
  top: -10px;
  transform: translateY(-100%);
  height: 2px;
  width: 100%; }
@media screen and (max-width: 99999px) {
  .org-tree .child-width-1 .item > .child:before, .org-tree .child-width-1 .item > .child:after {
    display: none; }
  .org-tree .child-width-1 .item > .child .node:not(.root):before {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: calc(100% + 20px + 2px);
    left: calc(50% - 70px - 10px);
    top: -1px; }
  .org-tree .child-width-1 .item > .child .node:not(.root)::after {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 10px;
    height: 2px;
    top: calc(50%);
    left: calc(50% - 70px - 10px); }
  .org-tree .child-width-1 .item:last-child:not(:only-child) > .child .node:not(.root):before {
    height: calc(50% + 2px); }
  .org-tree .child-width-1 .item:only-child > .child .node:not(.root):before {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: calc(100% + 20px + 2px);
    left: calc(50% - 70px - 10px);
    top: -1px;
    height: calc(50% + 10px + 2px);
    top: -11px; }
  .org-tree .child-width-1 > .row {
    margin-left: -50%; }
  .org-tree .child-width-1 .node {
    margin-bottom: 20px; }
  .org-tree .child-width-1 .row {
    margin-left: 20px;
    margin-right: 0px; }
    .org-tree .child-width-1 .row .item:first-child:not(:only-child) > .child .node:not(.root)::before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 2px;
      height: calc(100% + 20px + 2px);
      left: calc(50% - 70px - 10px);
      top: -1px;
      height: calc(100% + 30px + 2px);
      top: -11px; }
    .org-tree .child-width-1 .row .item:not(:last-child):before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 2px;
      height: calc(100% + 20px + 2px);
      left: calc(50% - 70px - 10px);
      top: -1px; }
  .org-tree .child-width-1 .parent {
    margin-bottom: 0px;
    display: block; }
    .org-tree .child-width-1 .parent:not(.collapsed):before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 70px;
      height: 2px;
      bottom: -10px;
      left: calc(50% - 70px); } }
@media screen and (max-width: 1199px) {
  .org-tree .child-width-1 .item > .child:before, .org-tree .child-width-1 .item > .child:after {
    display: none; }
  .org-tree .child-width-1 .item > .child .node:not(.root):before {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: calc(100% + 20px + 2px);
    left: calc(50% - 70px - 10px);
    top: -1px; }
  .org-tree .child-width-1 .item > .child .node:not(.root)::after {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 10px;
    height: 2px;
    top: calc(50%);
    left: calc(50% - 70px - 10px); }
  .org-tree .child-width-1 .item:last-child:not(:only-child) > .child .node:not(.root):before {
    height: calc(50% + 2px); }
  .org-tree .child-width-1 .item:only-child > .child .node:not(.root):before {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: calc(100% + 20px + 2px);
    left: calc(50% - 70px - 10px);
    top: -1px;
    height: calc(50% + 10px + 2px);
    top: -11px; }
  .org-tree .child-width-1 > .row {
    margin-left: -50%; }
  .org-tree .child-width-1 .node {
    margin-bottom: 20px; }
  .org-tree .child-width-1 .row {
    margin-left: 20px;
    margin-right: 0px; }
    .org-tree .child-width-1 .row .item:first-child:not(:only-child) > .child .node:not(.root)::before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 2px;
      height: calc(100% + 20px + 2px);
      left: calc(50% - 70px - 10px);
      top: -1px;
      height: calc(100% + 30px + 2px);
      top: -11px; }
    .org-tree .child-width-1 .row .item:not(:last-child):before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 2px;
      height: calc(100% + 20px + 2px);
      left: calc(50% - 70px - 10px);
      top: -1px; }
  .org-tree .child-width-1 .parent {
    margin-bottom: 0px;
    display: block; }
    .org-tree .child-width-1 .parent:not(.collapsed):before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 70px;
      height: 2px;
      bottom: -10px;
      left: calc(50% - 70px); }
  .org-tree .child-width-2 .item > .child:before, .org-tree .child-width-2 .item > .child:after {
    display: none; }
  .org-tree .child-width-2 .item > .child .node:not(.root):before {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: calc(100% + 20px + 2px);
    left: calc(50% - 70px - 10px);
    top: -1px; }
  .org-tree .child-width-2 .item > .child .node:not(.root)::after {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 10px;
    height: 2px;
    top: calc(50%);
    left: calc(50% - 70px - 10px); }
  .org-tree .child-width-2 .item:last-child:not(:only-child) > .child .node:not(.root):before {
    height: calc(50% + 2px); }
  .org-tree .child-width-2 .item:only-child > .child .node:not(.root):before {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: calc(100% + 20px + 2px);
    left: calc(50% - 70px - 10px);
    top: -1px;
    height: calc(50% + 10px + 2px);
    top: -11px; }
  .org-tree .child-width-2 > .row {
    margin-left: -50%; }
  .org-tree .child-width-2 .node {
    margin-bottom: 20px; }
  .org-tree .child-width-2 .row {
    margin-left: 20px;
    margin-right: 0px; }
    .org-tree .child-width-2 .row .item:first-child:not(:only-child) > .child .node:not(.root)::before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 2px;
      height: calc(100% + 20px + 2px);
      left: calc(50% - 70px - 10px);
      top: -1px;
      height: calc(100% + 30px + 2px);
      top: -11px; }
    .org-tree .child-width-2 .row .item:not(:last-child):before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 2px;
      height: calc(100% + 20px + 2px);
      left: calc(50% - 70px - 10px);
      top: -1px; }
  .org-tree .child-width-2 .parent {
    margin-bottom: 0px;
    display: block; }
    .org-tree .child-width-2 .parent:not(.collapsed):before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 70px;
      height: 2px;
      bottom: -10px;
      left: calc(50% - 70px); } }
@media screen and (max-width: 991px) {
  .org-tree .child-width-1 .item > .child:before, .org-tree .child-width-1 .item > .child:after {
    display: none; }
  .org-tree .child-width-1 .item > .child .node:not(.root):before {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: calc(100% + 20px + 2px);
    left: calc(50% - 70px - 10px);
    top: -1px; }
  .org-tree .child-width-1 .item > .child .node:not(.root)::after {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 10px;
    height: 2px;
    top: calc(50%);
    left: calc(50% - 70px - 10px); }
  .org-tree .child-width-1 .item:last-child:not(:only-child) > .child .node:not(.root):before {
    height: calc(50% + 2px); }
  .org-tree .child-width-1 .item:only-child > .child .node:not(.root):before {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: calc(100% + 20px + 2px);
    left: calc(50% - 70px - 10px);
    top: -1px;
    height: calc(50% + 10px + 2px);
    top: -11px; }
  .org-tree .child-width-1 > .row {
    margin-left: -50%; }
  .org-tree .child-width-1 .node {
    margin-bottom: 20px; }
  .org-tree .child-width-1 .row {
    margin-left: 20px;
    margin-right: 0px; }
    .org-tree .child-width-1 .row .item:first-child:not(:only-child) > .child .node:not(.root)::before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 2px;
      height: calc(100% + 20px + 2px);
      left: calc(50% - 70px - 10px);
      top: -1px;
      height: calc(100% + 30px + 2px);
      top: -11px; }
    .org-tree .child-width-1 .row .item:not(:last-child):before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 2px;
      height: calc(100% + 20px + 2px);
      left: calc(50% - 70px - 10px);
      top: -1px; }
  .org-tree .child-width-1 .parent {
    margin-bottom: 0px;
    display: block; }
    .org-tree .child-width-1 .parent:not(.collapsed):before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 70px;
      height: 2px;
      bottom: -10px;
      left: calc(50% - 70px); }
  .org-tree .child-width-2 .item > .child:before, .org-tree .child-width-2 .item > .child:after {
    display: none; }
  .org-tree .child-width-2 .item > .child .node:not(.root):before {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: calc(100% + 20px + 2px);
    left: calc(50% - 70px - 10px);
    top: -1px; }
  .org-tree .child-width-2 .item > .child .node:not(.root)::after {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 10px;
    height: 2px;
    top: calc(50%);
    left: calc(50% - 70px - 10px); }
  .org-tree .child-width-2 .item:last-child:not(:only-child) > .child .node:not(.root):before {
    height: calc(50% + 2px); }
  .org-tree .child-width-2 .item:only-child > .child .node:not(.root):before {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: calc(100% + 20px + 2px);
    left: calc(50% - 70px - 10px);
    top: -1px;
    height: calc(50% + 10px + 2px);
    top: -11px; }
  .org-tree .child-width-2 > .row {
    margin-left: -50%; }
  .org-tree .child-width-2 .node {
    margin-bottom: 20px; }
  .org-tree .child-width-2 .row {
    margin-left: 20px;
    margin-right: 0px; }
    .org-tree .child-width-2 .row .item:first-child:not(:only-child) > .child .node:not(.root)::before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 2px;
      height: calc(100% + 20px + 2px);
      left: calc(50% - 70px - 10px);
      top: -1px;
      height: calc(100% + 30px + 2px);
      top: -11px; }
    .org-tree .child-width-2 .row .item:not(:last-child):before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 2px;
      height: calc(100% + 20px + 2px);
      left: calc(50% - 70px - 10px);
      top: -1px; }
  .org-tree .child-width-2 .parent {
    margin-bottom: 0px;
    display: block; }
    .org-tree .child-width-2 .parent:not(.collapsed):before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 70px;
      height: 2px;
      bottom: -10px;
      left: calc(50% - 70px); }
  .org-tree .child-width-3 .item > .child:before, .org-tree .child-width-3 .item > .child:after {
    display: none; }
  .org-tree .child-width-3 .item > .child .node:not(.root):before {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: calc(100% + 20px + 2px);
    left: calc(50% - 70px - 10px);
    top: -1px; }
  .org-tree .child-width-3 .item > .child .node:not(.root)::after {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 10px;
    height: 2px;
    top: calc(50%);
    left: calc(50% - 70px - 10px); }
  .org-tree .child-width-3 .item:last-child:not(:only-child) > .child .node:not(.root):before {
    height: calc(50% + 2px); }
  .org-tree .child-width-3 .item:only-child > .child .node:not(.root):before {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: calc(100% + 20px + 2px);
    left: calc(50% - 70px - 10px);
    top: -1px;
    height: calc(50% + 10px + 2px);
    top: -11px; }
  .org-tree .child-width-3 > .row {
    margin-left: -50%; }
  .org-tree .child-width-3 .node {
    margin-bottom: 20px; }
  .org-tree .child-width-3 .row {
    margin-left: 20px;
    margin-right: 0px; }
    .org-tree .child-width-3 .row .item:first-child:not(:only-child) > .child .node:not(.root)::before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 2px;
      height: calc(100% + 20px + 2px);
      left: calc(50% - 70px - 10px);
      top: -1px;
      height: calc(100% + 30px + 2px);
      top: -11px; }
    .org-tree .child-width-3 .row .item:not(:last-child):before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 2px;
      height: calc(100% + 20px + 2px);
      left: calc(50% - 70px - 10px);
      top: -1px; }
  .org-tree .child-width-3 .parent {
    margin-bottom: 0px;
    display: block; }
    .org-tree .child-width-3 .parent:not(.collapsed):before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 70px;
      height: 2px;
      bottom: -10px;
      left: calc(50% - 70px); }
  .org-tree .child-width-4 .item > .child:before, .org-tree .child-width-4 .item > .child:after {
    display: none; }
  .org-tree .child-width-4 .item > .child .node:not(.root):before {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: calc(100% + 20px + 2px);
    left: calc(50% - 70px - 10px);
    top: -1px; }
  .org-tree .child-width-4 .item > .child .node:not(.root)::after {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 10px;
    height: 2px;
    top: calc(50%);
    left: calc(50% - 70px - 10px); }
  .org-tree .child-width-4 .item:last-child:not(:only-child) > .child .node:not(.root):before {
    height: calc(50% + 2px); }
  .org-tree .child-width-4 .item:only-child > .child .node:not(.root):before {
    content: '';
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: calc(100% + 20px + 2px);
    left: calc(50% - 70px - 10px);
    top: -1px;
    height: calc(50% + 10px + 2px);
    top: -11px; }
  .org-tree .child-width-4 > .row {
    margin-left: -50%; }
  .org-tree .child-width-4 .node {
    margin-bottom: 20px; }
  .org-tree .child-width-4 .row {
    margin-left: 20px;
    margin-right: 0px; }
    .org-tree .child-width-4 .row .item:first-child:not(:only-child) > .child .node:not(.root)::before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 2px;
      height: calc(100% + 20px + 2px);
      left: calc(50% - 70px - 10px);
      top: -1px;
      height: calc(100% + 30px + 2px);
      top: -11px; }
    .org-tree .child-width-4 .row .item:not(:last-child):before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 2px;
      height: calc(100% + 20px + 2px);
      left: calc(50% - 70px - 10px);
      top: -1px; }
  .org-tree .child-width-4 .parent {
    margin-bottom: 0px;
    display: block; }
    .org-tree .child-width-4 .parent:not(.collapsed):before {
      content: '';
      position: absolute;
      background-color: #aaa;
      width: 70px;
      height: 2px;
      bottom: -10px;
      left: calc(50% - 70px); } }

/*# sourceMappingURL=orgchart.css.map */
